.contactInfoItem {
  max-width: 366px;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &__imgBox {
    margin-right: 25px;

    svg {
      width: 33px;
      height: 33px;
      color: var(--border-color);
    }
  }

  &__title {
    color: var(--h-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
    word-break: break-word;
  }

  &__descr {
    color: var(--text-color);
    font-size: 13px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .contactInfoItem {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
